.env
socket/.env
/socket/.env
./socket/.env
server/.env
/server/.env
./server/.env
../Karma/server/.env

socket/node_modules
/socket/node_modules
./socket/node_modules

server/node_modules
/server/node_modules
./server/node_modules

client/node_modules
/client/node_modules
./client/node_modules

node_modules